<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

    <android.support.v4.widget.SwipeRefreshLayout
        android:id="@+id/swipeRefreshLayout"
        android:layout_width="match_parent"
        android:layout_alignParentTop="false"
        android:layout_height="wrap_content">
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content">
            <android.support.v7.widget.RecyclerView
                android:id="@+id/OffersMade_Recyler"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:nestedScrollingEnabled="true"
                android:scrollbars="vertical"
                android:layout_marginTop="0dp"
                android:layout_marginBottom="0dp" />
          <LinearLayout
               android:id="@+id/OffersMade_LinerEmpty"
               android:layout_width="match_parent"
               android:layout_height="match_parent"
               android:orientation="vertical"
               android:layout_centerHorizontal="true"
               android:layout_centerVertical="true">
            <TextView
                android:id="@+id/Market_icon"
                android:text="I"
                android:layout_height="wrap_content"
                android:textColor="@color/accent"
                android:textSize="110sp"
                android:layout_width="wrap_content"
                android:layout_gravity="center"
                android:layout_marginTop="20dp"
                android:layout_marginStart="5dp" />
            <TextView
                android:id="@+id/Txt_LabelEmpty"
                android:layout_width="wrap_content"
                android:textSize="20dp"
                android:textStyle="bold"
                android:layout_marginTop="80dp"
                android:layout_centerInParent="true"
                android:layout_marginStart="20dp"
                android:layout_marginEnd="20dp"
                android:textColor="@color/textDark_color"
                android:text="@string/Lbl_Empty_Market"
                android:layout_gravity="center"
                android:layout_height="wrap_content" />
            <TextView
                android:id="@+id/Txt_LabelStart"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:textSize="15dp"
                android:textStyle="normal"
                android:layout_marginTop="10dp"
                android:layout_centerInParent="true"
                android:layout_marginStart="20dp"
                android:layout_marginEnd="20dp"
                android:text="@string/Lbl_Start_Market"
                android:textColor="@color/text_color_in_between"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:typeface="normal"
                android:layout_gravity="center"
                android:gravity="center_horizontal" />
            <Button
                android:background="@xml/background_signup"
                android:layout_height="wrap_content"
                android:layout_width="match_parent"
                android:layout_marginTop="38dp"
                android:padding="10dp"
                android:text="@string/Btn_AddProduct"
                android:textColor="#ffffff"
                android:textSize="18sp"
                android:clickable="true"
                android:textAllCaps="false"
                android:layout_marginStart="50dp"
                android:layout_marginEnd="40dp"
                android:id="@+id/AddProduct_Button" />
          </LinearLayout>
        </RelativeLayout>
    </android.support.v4.widget.SwipeRefreshLayout>

</LinearLayout>
