<?xml version="1.0" encoding="utf-8"?>
<android.support.v7.widget.CardView xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:card_view="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_gravity="center"
        android:layout_margin="4dp"
        card_view:cardElevation="1dp"
        card_view:cardCornerRadius="4dp">
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:padding="8dp"
            android:background="#f2f2f2"
            android:orientation="vertical" >
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="horizontal">
                <ImageView
                    android:id="@+id/product_image"
                    android:layout_width="55dp"
                    android:layout_height="55dp"
                    android:layout_marginRight="8dp"
                    android:src="@drawable/Image_File"
                    android:layout_gravity="start" />

            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_gravity="start"
                android:orientation="vertical">
                <TextView
                    android:id="@+id/product_name"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:textColor="@android:color/black"
                    android:textSize="16dp"
                    android:text="File Explorer Toy"/>
                <TextView
                    android:id="@+id/product_category"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:textColor="#919191"
                    android:textSize="12dp"
                android:text="Gifts and Occasion" />

            </LinearLayout>

                <View
				    android:layout_width="0dp"
				    android:layout_height="0dp"
				    android:layout_weight="1" />  

                <TextView
				    android:id="@+id/product_price"
				    android:layout_width="wrap_content"
				    android:layout_height="wrap_content"
				    android:textSize="15dp"
				    android:textColor="#ffff"
				    android:layout_marginStart="5dp"
				    android:layout_marginTop="5dp"
				    android:text="555"
                    android:layout_gravity="end"
				    android:paddingStart="4dp"
				    android:paddingEnd="4dp"
				    android:background="#f06292" />
            </LinearLayout>

            <View
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:id="@+id/view"
                android:layout_marginTop="10dp"
                android:layout_marginBottom="10dp"
                android:background="#e7e7e7" />

            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:orientation="horizontal">

            <LinearLayout
                android:id="@+id/offer_count_layout"
                android:layout_width="wrap_content"
                android:layout_height="match_parent">
                <TextView
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:gravity="center_vertical"
                    android:textColor="#919191"
                    android:textSize="12dp"
                    android:text="Offers Received: "/>

                <TextView
                    android:id="@+id/product_offers_count"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:gravity="center_vertical"
                    android:textSize="14dp"
                    android:textStyle="bold"
                    android:textColor="#919191"
                    android:text="2" />
            </LinearLayout>

            <LinearLayout
                android:id="@+id/seller_name_layout"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:visibility="gone">
                <TextView
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:gravity="center_vertical"
                    android:textColor="#919191"
                    android:textSize="12dp"
                    android:text="Seller: "/>

                <TextView
                    android:id="@+id/product_seller_name"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:gravity="center_vertical"
                    android:textSize="14dp"
                    android:textStyle="bold"
                    android:textColor="#919191"
                    android:text="johndoe" />
            </LinearLayout>



                <View
				    android:layout_width="0dp"
				    android:layout_height="0dp"
				    android:layout_weight="1" />  

                <ImageButton
                    android:id="@+id/offersView"
                    android:gravity="right"
                    android:padding="8dp"
                    android:layout_width="35dp"
                    android:background="@null"
                    android:tint="#919191"
                    android:layout_height="wrap_content"
                    android:scaleType="centerInside"
                    android:adjustViewBounds="true"
                    android:src="@drawable/icon_view"/>
            </LinearLayout>

        </LinearLayout>
 </android.support.v7.widget.CardView>
